.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8rem;
}

.header h1 {
    font-size: 15vw;
    text-align: center;
    color: orange;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: linear-gradient(rgba(34, 139, 34, 0.5), rgba(34, 139, 34, 0.2));
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonHome {
    align-items: center;
    background-image: linear-gradient(144deg, #008803, #06b603 50%, #39d000);
    border: 0;
    border-radius: 8px;
    box-shadow: rgb(0, 52, 1) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.buttonHome:active,
.buttonHome:hover {
    outline: 0;
}

.buttonHome span {
    background-color: rgb(0, 84, 7);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.buttonHome:hover span {
    background: none;
}

.content {
    position: relative;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    background: rgba(34, 139, 34, 0.2);
}

