.container {
    position: relative;
    display: flex;
    padding-left: 7rem;
    align-items: center;
    justify-content: center;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 20%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(100deg, #a0f1b2, #a1e0f8 70%, #94b9fc);
    padding: 3.5rem;
    max-width: 50%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border: 0.5rem solid #068000;
}

.attributeContainer {
    padding-top: 2rem;
    display: flex;
    flex: 1;
}

.attributeContainer img {
    width: 100%;
    height: auto;
}

.cardContainer {
    color: black;
    font-size: 0.7vw;
    text-align: left;
}

.cardContainer p {
    font-size: 1.2vw;
}

.cardContainer h1 {
    padding-bottom: 1rem;
    color: #01b610;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardContainer p {
        font-size: 3.2vw;
    }
    .cardContainer h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
        order: 2;
        padding: 3rem;
    }
    .sideImage img {
        padding-bottom: 5rem;
        order: 1;
        width: 70%;
    }
}