.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background: #35592a;
    max-width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border: 0.5rem solid #558d47;
}

.cardContainer {
    display: flex;
}

.cardContainer img {
    max-width: 100%;
    height: auto;
}

.cardContainer h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 7rem;
    padding-right: 2rem;
    color: #fdc500;
    text-align: left;
    font-size: 2.3vw;
}

@media (max-width: 767px) {
    .cardContainer h1 {
        font-size: 7vw;
        position: relative;
        text-align: center;
        order: 1;
        margin: 0;
        padding: 2rem;
    }
    .cardContainer img {
        order: 2;
    }
    .cardContainer {
        position: relative;
        flex-direction: column;
    }
    .card {
        padding-top: 0;
        padding-bottom: 3rem;
        max-width: 98%;
    }
}