.background {
    background: #476C44FF;
}

.spacer {
    padding-top: 7rem;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background: linear-gradient(rgb(52, 100, 50), rgb(28, 50, 27));
    gap: 4rem;
    border-radius: 0 0 5rem 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    padding-bottom: 4rem;
}

.headerImage {
    flex: 1;
}

.header img {
    max-width: 100%;
    height: auto;
    padding-top: 4rem;
}

.header h1 {
    font-size: 3rem;
    color: #fb6405;
    text-align: center;
}

.header p {
    color: black;
    font-size: 1.5rem;
}

.headerContent {
    flex: 1;
    padding: 2rem;
}

.headerTextCard {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 208, 96));
    padding: 7rem;
    max-width: 100%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border: 0.5rem solid #ff671f;
}

.content {
    position: relative;
    display: flex;
    gap: 14rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    background: rgb(71, 108, 68);
}

@media (max-width: 767px) {
    .headerTextCard {
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
    .header {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .header p {
        padding-top: 1rem;
    }
    .headerImage {
        order: 1;
        max-width: 85%;
    }
    .headerContent {
        order: 2;
        padding-bottom: 2rem;
    }
    .content {
        gap: 2rem;
    }
}