.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(100deg, #fd67c0, #fda58a 50%, #fddb59);
    width: 89%;
    padding: 4rem;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    gap: 2rem;
}

.containerTextBG {
    background: white;
    width: 45vw;
    height: auto;
    border-radius: 5rem;
    border: 1rem solid #537581;
    padding: 2rem;
}

.containerText {
    flex: 1;
    color: black;
    font-size: 0.7vw;
    text-align: left;
    padding: 1rem;
}

.containerText p {
    padding: 0.5rem;
    font-size: 0.9vw;
}

.containerImage {
    flex: 1;
}

.containerImage img {
    max-width: 80%;
    height: auto;
}

@media (max-width: 767px) {
    .containerTextBG {
        width: 80vw;
        order: 2;
    }
    .containerText p {
        font-size: 3vw;
    }
    .container {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .containerImage {
        order: 1;
    }
    .containerImage img {
        max-width: 90%;
    }
    .containerText {
        order: 2;
        font-size: 3vw;
    }
}