.container {
    position: relative;
    display: flex;
    padding-right: 7rem;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 20%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(100deg, #fc9222, #f67a29 50%, #fd690a);
    padding: 2rem;
    max-width: 50%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border: 0.5rem solid #ec5000;
}

.cardContainer {
    flex: 1;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    padding: 1rem;
}

.cardContainer p {
    padding: 0.5rem;
    font-size: 1.2vw;
}

.cardContainer h1 {
    padding-left: 0.4rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: #f7ff44;
}

.cardContainer img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardContainer p {
        font-size: 3.2vw;
        padding-bottom: 1.5rem;
    }
    .cardContainer h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
    }
    .sideImage img {
        padding-bottom: 5rem;
        width: 30%;
    }
}