.container {
    position: relative;
    display: flex;
    padding-right: 7rem;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 20%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(100deg, #3331c3, #1e89d5 50%, #00d2ff);
    padding: 2rem;
    max-width: 50%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.cardText {
    flex: 1;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    padding: 1rem;
}

.cardText p {
    padding: 0.5rem;
    font-size: 1.1vw;
}

.rarityContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.rarityImageContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rarityImageContainerSolo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rarityImageContainer img {
    width: 20vw;
    height: auto;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardText p {
        font-size: 3vw;
        padding-bottom: 1.5rem;
    }
    .cardText h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
    }
    .sideImage img {
        padding-bottom: 5rem;
        width: 30%;
    }
    .rarityImageContainer img {
        width: 33vw;
    }
}