.container {
    position: relative;
    display: flex;
    padding-left: 7rem;
    align-items: center;
    justify-content: center;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 20%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(100deg, #cafbd7, #b0dbe9 50%, #94b9fc);
    padding: 4rem;
    max-width: 50%;
    border-radius: 5rem;
    gap: 3rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.attributeContainer {
    display: flex;
    gap: 5rem;
    flex: 1;
    padding: 1rem;
}

.attributeImageContainer {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.attributeContainer img {
    width: 100%;
    height: auto;
}

.cardText {
    color: black;
    font-size: 0.7vw;
    text-align: left;
}

.cardText p {
    padding: 0.5rem;
    font-size: 1.1vw;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardText p {
        font-size: 3vw;
    }
    .cardText h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
        order: 2;
        padding: 3rem;
    }
    .sideImage img {
        padding-bottom: 5rem;
        order: 1;
        width: 70%;
    }
    .attributeContainer {
        gap: 0.5rem;
    }
}