.container {
    position: relative;
    display: flex;
    padding-right: 7rem;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 50%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(100deg, #8e53f7, #c9749d 50%, #f98e53);
    padding: 1.5rem;
    max-width: 50%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}

.cardText {
    flex: 1;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    padding: 1rem;
}

.cardText p {
    padding: 0.5rem;
    font-size: 1.1vw;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardText {
        order: 1;
    }
    .cardText p {
        font-size: 3vw;
    }
    .cardText h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
    }
    .sideImage img {
        padding-bottom: 3rem;
    }
}