.container {
    position: relative;
    display: flex;
    padding-right: 7rem;
    align-items: center;
    justify-content: center;
}

.sideImage {
    flex: 1;
}

.sideImage img {
    width: 35%;
    height: auto;
}

.card {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(100deg, #7d34ff, #e7609d 50%, #ec742e);
    padding: 1.5rem;
    max-width: 50%;
    border-radius: 5rem;
    box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
    border: 0.5rem solid #6b00b0;
}

.cardContainer {
    flex: 1;
    color: white;
    font-size: 0.7vw;
    text-align: left;
    padding: 1rem;
}

.cardContainer img {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
}

.cardContainer p {
    padding: 0.5rem;
    font-size: 1.2vw;
}

.cardContainer h1 {
    padding-bottom: 0.5rem;
    padding-left: 0.4rem;
    color: #23f5fd;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .container {
        padding: 2rem;
        flex-direction: column;
    }
    .cardContainer {
        order: 1;
    }
    .cardContainer p {
        font-size: 3.2vw;
    }
    .cardContainer h1 {
        font-size: 5vw;
    }
    .card {
        max-width: 100%;
    }
    .sideImage img {
        padding-bottom: 5rem;
        padding-top: 3rem;
        width: 55%;
    }
}