.container {
    font-family: Phantomsans, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    z-index: 2;
}

.bannerImage {
    width: 30rem;
    padding-bottom: 2rem;
}

.bannerBG {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 10rem;
    background-repeat: repeat-x;
    background-image: url('../public/imgs/nav/nav_background.svg');
}

.menu {
    user-select: none;
    padding-bottom: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
}

.menu li {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.menu li:active {
    color: #fff0a0;
}

.menu li:hover {
    color: #fff0a0;
}

.currentPage {
    text-decoration: underline;
}

.dropdown {
    padding-top: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #e75353;
    margin-left: -1.2rem;
}

.dropdown li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown ul {
    display: block;
}

.dropdown li:hover {
    background: #ff6262;
}